<div class="orderBlock border">
    <h5 class="bg-warning">ЗАМОВЛЕННЯ</h5>
    <div class="table">
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">userName</th>
                    <th scope="col">userPhone</th>
                    <th scope="col">totalPayment</th>
                    <th scope="col">dateOrder</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders; let i=index">
                    <td>{{ order.id }}</td>
                    <td>{{ order.userName }}</td>
                    <td>{{ order.userPhone }}</td>
                    <td>{{ order.totalPayment }}</td>
                    <td>{{ order.dateOrder }}</td>
                    <td>
                        <input type="button" value="Деталі" class="btn btn-info"
                            (click)="openModal(details, order.id, true)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #details>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Прийняти замовлення № {{ oneOrder?.id }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container d-flex userInfo">
            <div class="container">
                <h5 class="border-bottom mb-1"><span>Ім'я:</span> {{ oneOrder?.userName | titlecase}},
                    <span>моб.:</span>
                    {{ oneOrder?.userPhone }}</h5>
                <p *ngIf="oneOrder?.delivery !== 'самовивіз'" class="border-bottom mb-1"><span>Адреса:</span>
                    {{ oneOrder?.userCity | titlecase}}, {{ oneOrder?.userStreet | titlecase}},
                    {{ oneOrder?.userHouse | titlecase}}
                </p>
                <p class="border-bottom mb-1"><span>Оплата:</span> {{ oneOrder?.payment | titlecase }}</p>
                <p class="border-bottom mb-1"><span>Доставка:</span> {{ oneOrder?.delivery | titlecase }}</p>
            </div>
            <div class="container">
                <p class="border-bottom mb-1"><span>Сума замовлення:</span> {{ oneOrder?.totalPayment }}</p>
                <p class="border-bottom mb-1"><span>Коментар:</span> {{ oneOrder?.userComment | titlecase}}</p>
            </div>
        </div>
        <div class="container">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Товар</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Кількість</th>
                        <th scope="col">Загалом</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pDetails of oneOrder?.ordersDetails; let i=index">
                        <td><img src="{{ pDetails.image }}" style="width:50px" alt=""></td>
                        <td>{{ pDetails.nameUA }}</td>
                        <td>{{ pDetails.price }}</td>
                        <td> {{ pDetails.count }} </td>
                        <td>{{ pDetails.price * pDetails.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid row">
            <div>
                <input type="button" value="Delete" class="btn btn-danger" (click)="openDeleteModal(delete)">
            </div>
        </div>
    </div>
</ng-template>


<ng-template #delete>
    <div class="modal-body row bg-warning">
        <div class="col">
            <button type="button" class="btn btn-dark btn-block" (click)="modalRef2.hide()">Dismiss</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger btn-block" (click)="deleteOrder()">Delete</button>
        </div>
    </div>
</ng-template>